name: Conan Build and Upload
on:
  repository_dispatch:
    types: [conan]
jobs:
  build:
    runs-on: ${{ github.event.client_payload.tags }}
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.client_payload.ref }}
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8.3'
    - name: Install dependencies
      run: python -m pip install --upgrade pip conan
    - name: Conan Create
      run: |
        conan config install https://gitlab.com/aivero/public/conan/conan-config.git
        conan config set general.default_profile=${{ github.event.client_payload.settings.profile }}
        conan create . ${{ github.event.client_payload.package }}/${{ github.event.client_payload.version }}